Repository reedu-reengineering-education/qoool-website: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, lintjavascript

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        formatting:
            glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix

fix: prettier
  README.md
  components.json
  postcss.config.js
Due: formatting, lintjavascript

fix: mobile index
  src/components/pages/home/index.tsx
Due: formatting, lintjavascript

feat: initial partner page
  next.config.mjs
  package.json
  src/app/de/(home)/layout.tsx
  src/app/de/(pages)/about/page.mdx
  src/app/de/(pages)/about/reedu-logo.svg
  src/app/de/(pages)/layout.tsx
  src/app/en/(home)/layout.tsx
  src/app/en/(pages)/about/page.mdx
  src/app/en/(pages)/about/reedu-logo.svg
  src/components/animated/animated-tooltip.tsx
  src/components/animated/layout-grid.tsx
  src/components/animated/meteors.tsx
  src/components/animated/spotlight.tsx
  src/components/animated/sticky-scroll-reveal.tsx
  src/components/animated/wavy-background.tsx
  src/components/bento/bento-card.tsx
  src/components/layout/navbar.tsx
  src/components/mdx/mdx-image.tsx
  src/components/pages/about/people.tsx
  src/components/pages/home/index.tsx
  src/components/ui/dialog.tsx
  tailwind.config.ts
  yarn.lock
Due: formatting, lintjavascript

feat: add logo and change colors
  src/assets/images/qoool_logo_trans_background.png
  src/components/animated/background-gradient.tsx
  src/components/animated/beams.tsx
  src/components/animated/glowing-stars.tsx
  src/components/layout/footer.tsx
  src/components/layout/navbar.tsx
  src/components/pages/home/index.tsx
  tailwind.config.ts
Due: formatting, lintjavascript

feat: update index page
  src/components/animated/animated-tooltip.tsx
  src/components/bento/bento-card.tsx
  src/components/layout/navbar.tsx
  src/components/pages/about/people.tsx
  src/components/pages/home/index.tsx
Due: formatting, lintjavascript

feat: add ifm
  src/app/de/(pages)/about/ifm_hs.png
  src/app/de/(pages)/about/page.mdx
  src/app/en/(pages)/about/ifm_hs.png
  src/app/en/(pages)/about/page.mdx
  src/components/animated/animated-tooltip.tsx
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

feat: update ifm images and general image handling
  src/app/de/(pages)/about/page.mdx
  src/app/en/(pages)/about/ifm_hs.png
  src/app/en/(pages)/about/page.mdx
  src/app/en/(pages)/about/reedu-logo.svg
  src/app/en/(pages)/layout.tsx
  src/assets/images/partners/52n.png
  src/assets/images/partners/ifm/Daniela_Walter.jpg
  src/assets/images/partners/ifm/andre.JPG
  src/assets/images/partners/ifm/ifm_hs.png
  src/assets/images/partners/instituto-cordial.png
  src/assets/images/partners/logo_small_text_white.png
  src/assets/images/partners/reedu/reedu-logo.svg
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

Update page.mdx
  src/app/de/(pages)/vision/page.mdx
Due: formatting

Update page.mdx
  src/app/en/(pages)/vision/page.mdx
Due: formatting

Update page.mdx
  src/app/en/(pages)/world-of-quantum/page.mdx
Due: formatting

Update page.mdx
  src/app/de/(pages)/world-of-quantum/page.mdx
Due: formatting

feat: add impressum, datenschutz, youtube and more partners
  package.json
  src/app/datenschutz/page.mdx
  src/app/de/(pages)/about/page.mdx
  src/app/de/(pages)/world-of-quantum/page.mdx
  src/app/en/(pages)/about/page.mdx
  src/app/en/(pages)/world-of-quantum/page.mdx
  src/app/impressum/page.mdx
  src/assets/images/bmbf.jpeg
  src/assets/images/partners/iis/Bild_Jens_Anders.jpg
  src/assets/images/partners/iis/Bild_Michal_Kern.png
  src/assets/images/partners/iis/IIS_Logo_blue-mit-Box.png
  src/assets/images/partners/iis/Yichao Peng.jpg
  src/assets/images/partners/lela/LeLa_Logo.png
  src/assets/images/partners/mexlab/MExLab ExperiMINTe.png
  src/components/layout/footer.tsx
  src/components/pages/about/people.tsx
  src/components/youtube/index.tsx
  yarn.lock
Due: formatting, lintjavascript

feat: add arrow back in datenschutz
  src/app/datenschutz/page.mdx
Due: formatting

feat: add contentlayer for news and activities
  .gitignore
  content/activities/01-sample-activity.mdx
  content/news/01-sample-news.mdx
  contentlayer.config.ts
  next.config.mjs
  package.json
  src/app/de/(pages)/activities/[slug]/page.tsx
  src/app/de/(pages)/activities/page.tsx
  src/app/de/(pages)/news/[slug]/page.tsx
  src/app/de/(pages)/news/page.tsx
  src/app/en/(pages)/activities/[slug]/page.tsx
  src/app/en/(pages)/activities/page.tsx
  src/app/en/(pages)/news/[slug]/page.tsx
  src/app/en/(pages)/news/page.tsx
  src/components/animated/sparkels.tsx
  src/components/pages/home/index.tsx
  src/components/posts/post-card.tsx
  src/components/posts/posts-carousel.tsx
  tsconfig.json
  yarn.lock
Due: formatting, lintjavascript

feat: add first news
  content/news/01-sample-news.mdx
  contentlayer.config.ts
  src/app/de/(pages)/activities/[slug]/page.tsx
  src/app/de/(pages)/news/[slug]/page.tsx
  src/app/en/(pages)/activities/[slug]/page.tsx
  src/app/en/(pages)/news/[slug]/page.tsx
  src/components/pages/about/people.tsx
  src/components/pages/home/index.tsx
  src/components/posts/post-card.tsx
  src/components/posts/posts-carousel.tsx
Due: formatting, lintjavascript

feat: add first news
  content/activities/.gitkeep
  content/activities/01-sample-activity.mdx
  content/news/.gitkeep
  content/news/01-launch-website.mdx
  content/news/02-rueckblick-didacta.mdx
  content/news/03-quantum-effects.mdx
  content/news/04-instagram.mdx
  src/components/posts/posts-carousel.tsx
Due: formatting, lintjavascript

fix: disable generateStaticParams
  src/app/datenschutz/page.mdx
  src/app/de/(pages)/activities/[slug]/page.tsx
  src/app/de/(pages)/news/[slug]/page.tsx
  src/app/en/(pages)/activities/[slug]/page.tsx
  src/app/en/(pages)/news/[slug]/page.tsx
Due: formatting, lintjavascript

feat: carousel heading top
  content/news/02-rueckblick-didacta.mdx
  content/news/05-learntec.mdx
  src/components/posts/posts-carousel.tsx
Due: formatting, lintjavascript

feat: add people about
  src/components/animated/animated-tooltip.tsx
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

feat: update pictures
  content/news/02-rueckblick-didacta.mdx
  content/news/03-quantum-effects.mdx
  src/components/posts/posts-carousel.tsx
Due: formatting, lintjavascript

feat: update associated partners
  src/app/de/(pages)/about/page.mdx
  src/app/en/(pages)/about/page.mdx
  src/assets/images/partners/qsens/qsens.png
Due: formatting

feat: update videos
  src/app/de/(pages)/world-of-quantum/page.mdx
  src/app/en/(pages)/world-of-quantum/page.mdx
Due: formatting

format file
  src/app/de/(pages)/world-of-quantum/page.mdx
  src/app/en/(pages)/world-of-quantum/page.mdx
Due: formatting

Update people.tsx
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

Update page.mdx
  src/app/de/(pages)/about/page.mdx
Due: formatting

Update page.mdx
  src/app/en/(pages)/about/page.mdx
Due: formatting

Create 06-projekttreffen-Hahn-Schickard.mdx
  content/news/06-projekttreffen-Hahn-Schickard.mdx
Due: formatting

feat: intl news
  .vscode/settings.json
  content/news/01-launch-website.de.mdx
  content/news/01-launch-website.en.mdx
  content/news/02-rueckblick-didacta.de.mdx
  content/news/02-rueckblick-didacta.en.mdx
  content/news/03-quantum-effects.de.mdx
  content/news/03-quantum-effects.en.mdx
  content/news/04-instagram.de.mdx
  content/news/04-instagram.en.mdx
  content/news/05-learntec.de.mdx
  content/news/05-learntec.en.mdx
  contentlayer.config.ts
  src/app/de/(pages)/news/[slug]/page.tsx
  src/app/de/(pages)/news/page.tsx
  src/app/en/(pages)/news/[slug]/page.tsx
  src/app/en/(pages)/news/page.tsx
  src/components/pages/home/index.tsx
Due: formatting, lintjavascript

chore: refine intl news
  content/news/01-launch-website-de.mdx
  content/news/01-launch-website-en.mdx
  content/news/01-launch-website.en.mdx
  content/news/02-rueckblick-didacta-de.mdx
  content/news/02-rueckblick-didacta-en.mdx
  content/news/02-rueckblick-didacta.en.mdx
  content/news/03-quantum-effects-de.mdx
  content/news/03-quantum-effects-en.mdx
  content/news/04-instagram-de.mdx
  content/news/04-instagram-en.mdx
  content/news/05-learntec-de.mdx
  content/news/05-learntec-en.mdx
  content/news/06-projekttreffen-Hahn-Schickard.mdx
  content/news/06-projekttreffen-hahn-schickard-de.mdx
  content/news/06-projekttreffen-hahn-schickard-en.mdx
  src/mdx-components.tsx
Due: formatting, lintjavascript

fix: piPeople
  src/app/en/(pages)/about/page.mdx
  src/assets/images/partners/pi/unistuttgart_logo_deutsch.png
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

fix: de about page
  src/app/de/(pages)/about/page.mdx
Due: formatting

Update 06-projekttreffen-Hahn-Schickard.mdx
  content/news/06-projekttreffen-Hahn-Schickard.mdx
Due: formatting

fix: update images
  content/news/06-projekttreffen-hahn-schickard-de.mdx
  content/news/06-projekttreffen-hahn-schickard-en.mdx
Due: formatting

Update 06-projekttreffen-hahn-schickard-de.mdx
  content/news/06-projekttreffen-hahn-schickard-de.mdx
Due: formatting

feat: add stuttgart pi people pictures
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

Add files via upload
  src/assets/images/partners/pi/Logo-Physik+Didaktik-4c.jpeg
Due: none
