Repository reedu-reengineering-education/qoool-website: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, lintjavascript

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        formatting:
            glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix

Create 38-Quantum-Peaks-en.mdx
  content/news/38-Quantum-Peaks-en.mdx
Due: formatting

Update 38-Quantum-Peaks.mdx
  content/news/38-Quantum-Peaks.mdx
Due: formatting

Create 39-Quantum-Effects-2025.mdx
  content/news/39-Quantum-Effects-2025.mdx
Due: formatting

Update 39-Quantum-Effects-2025.mdx
  content/news/39-Quantum-Effects-2025.mdx
Due: formatting

Create 39-Quantum-Effects-2025-en.mdx
  content/news/39-Quantum-Effects-2025-en.mdx
Due: formatting

feat: add nv quiz
  package.json
  src/app/de/(pages)/learn-modules-quiz/page.tsx
  src/app/en/(pages)/learn-modules-quiz/page.mdx
  src/components/pages/home/i18n.ts
  src/components/pages/home/index.tsx
  yarn.lock
Due: formatting, lintjavascript

feat: tsx
  src/app/en/(pages)/learn-modules-quiz/page.mdx
  src/app/en/(pages)/learn-modules-quiz/page.tsx
  src/components/pages/home/index.tsx
Due: formatting, lintjavascript

fix: update bmftr logo
  src/assets/images/BMFTR_Logo.svg
  src/assets/images/bmbf.jpeg
  src/components/layout/footer.tsx
Due: formatting, lintjavascript

refactor: rename quiz to quantum interactive
  src/app/de/(pages)/quantum-interactive/page.tsx
  src/app/en/(pages)/quantum-interactive/page.tsx
  src/components/pages/home/i18n.ts
  src/components/pages/home/index.tsx
Due: formatting, lintjavascript

fix: update favicon
  src/app/favicon.ico
  src/app/layout.tsx
Due: formatting, lintjavascript

fix: allow fullscreen
  src/app/de/(pages)/quantum-interactive/page.tsx
  src/app/en/(pages)/quantum-interactive/page.tsx
Due: formatting, lintjavascript

Update README.md
  README.md
Due: formatting

Create 40-Meeting-IIS.mdx
  content/news/40-Meeting-IIS.mdx
Due: formatting

Create 40-Meeting-IIS-en.mdx
  content/news/40-Meeting-IIS-en.mdx
Due: formatting

Update 40-Meeting-IIS.mdx
  content/news/40-Meeting-IIS.mdx
Due: formatting

Update 40-Meeting-IIS-en.mdx
  content/news/40-Meeting-IIS-en.mdx
Due: formatting

fix: mdx
  content/news/40-Meeting-IIS-en.mdx
  content/news/40-Meeting-IIS.mdx
Due: formatting

Create 41-Recap-Quantum-Effects-2025.mdx
  content/news/41-Recap-Quantum-Effects-2025.mdx
Due: formatting

Update 41-Recap-Quantum-Effects-2025.mdx
  content/news/41-Recap-Quantum-Effects-2025.mdx
Due: formatting

Create 41-Recap-Quantum-Effects-2025-en.mdx
  content/news/41-Recap-Quantum-Effects-2025-en.mdx
Due: formatting

Update 41-Recap-Quantum-Effects-2025-en.mdx
  content/news/41-Recap-Quantum-Effects-2025-en.mdx
Due: formatting

Create openSenseLab
  src/assets/images/partners/openSenseLab
Due: none

Delete src/assets/images/partners/openSenseLab
  src/assets/images/partners/openSenseLab
Due: none

Create test.md
  src/assets/images/partners/openSenseLab/test.md
Due: formatting

Add files via upload
  src/assets/images/partners/openSenseLab/openSenseLab-LogoTypo.png
Due: none

Delete src/assets/images/partners/openSenseLab/test.md
  src/assets/images/partners/openSenseLab/test.md
Due: formatting

Update page.mdx
  src/app/de/(pages)/about/page.mdx
Due: formatting

Update page.mdx
  src/app/en/(pages)/about/page.mdx
Due: formatting

Create 42-Newsletter-Ganztagsschulverband.mdx
  content/news/42-Newsletter-Ganztagsschulverband.mdx
Due: formatting

Create 42-Newsletter-Ganztagsschulverband-en.mdx
  content/news/42-Newsletter-Ganztagsschulverband-en.mdx
Due: formatting

Update 42-Newsletter-Ganztagsschulverband.mdx
  content/news/42-Newsletter-Ganztagsschulverband.mdx
Due: formatting

Update 42-Newsletter-Ganztagsschulverband-en.mdx
  content/news/42-Newsletter-Ganztagsschulverband-en.mdx
Due: formatting

Create 43-Lehrerfortbildung-Herbst.mdx
  content/news/43-Lehrerfortbildung-Herbst.mdx
Due: formatting

Update 43-Lehrerfortbildung-Herbst.mdx
  content/news/43-Lehrerfortbildung-Herbst.mdx
Due: formatting

Create 43-Teacher-Training-Autumn-en.mdx
  content/news/43-Teacher-Training-Autumn-en.mdx
Due: formatting

Update 43-Teacher-Training-Autumn-en.mdx
  content/news/43-Teacher-Training-Autumn-en.mdx
Due: formatting
