Repository reedu-reengineering-education/qoool-website: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, lintjavascript

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        formatting:
            glob: '*.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}'
            run: npx prettier {staged_files} --write
        lintjavascript:
            glob: '*.{js,ts,tsx}'
            run: npx eslint {staged_files} --fix

Create 44-QOOOL-Publikation.mdx
  content/news/44-QOOOL-Publikation.mdx
Due: formatting

Create 44-QOOOL-Publication-en.mdx
  content/news/44-QOOOL-Publication-en.mdx
Due: formatting

Update 44-QOOOL-Publikation.mdx
  content/news/44-QOOOL-Publikation.mdx
Due: formatting

Update 44-QOOOL-Publication-en.mdx
  content/news/44-QOOOL-Publication-en.mdx
Due: formatting

Create 45-Recap-Quantum-100.mdx
  content/news/45-Recap-Quantum-100.mdx
Due: formatting

Create 45-Recap-Quantum-100-en.mdx
  content/news/45-Recap-Quantum-100-en.mdx
Due: formatting

Create 46-Arbeitstreffen-Hardware.mdx
  content/news/46-Arbeitstreffen-Hardware.mdx
Due: formatting

Create 46-Meeting-Hardware-en.mdx
  content/news/46-Meeting-Hardware-en.mdx
Due: formatting

fix: update fonts
  src/app/de/(pages)/quantum-interactive/page.tsx
  src/app/en/(pages)/quantum-interactive/page.tsx
Due: formatting, lintjavascript

Create 47-Quanten-interaktiv.mdx
  content/news/47-Quanten-interaktiv.mdx
Due: formatting

Create 47-Quantum-interactive-en.mdx
  content/news/47-Quantum-interactive-en.mdx
Due: formatting

Create 48-Quanderland.mdx
  content/news/48-Quanderland.mdx
Due: formatting

Create 48-Quanderland-en.mdx
  content/news/48-Quanderland-en.mdx
Due: formatting

Update 48-Quanderland.mdx
  content/news/48-Quanderland.mdx
Due: formatting

Update 48-Quanderland-en.mdx
  content/news/48-Quanderland-en.mdx
Due: formatting

Create index.mdx
  src/assets/images/partners/Quanderland/index.mdx
Due: formatting

Add files via upload
  src/assets/images/partners/Quanderland/Logo_Quanderland.png
Due: none

Delete src/assets/images/partners/Quanderland/index.mdx
  src/assets/images/partners/Quanderland/index.mdx
Due: formatting

Create index.mdx
  src/assets/images/partners/QOI/index.mdx
Due: formatting

Add files via upload
  src/assets/images/partners/QOI/LogoQOI_farbe.png
Due: none

Delete src/assets/images/partners/QOI/index.mdx
  src/assets/images/partners/QOI/index.mdx
Due: formatting

Update page.mdx
  src/app/en/(pages)/about/page.mdx
Due: formatting

Update page.mdx
  src/app/de/(pages)/about/page.mdx
Due: formatting

Create JFZ-Sindelfingen
  src/assets/images/partners/JFZ-Sindelfingen
Due: none

Delete src/assets/images/partners/JFZ-Sindelfingen
  src/assets/images/partners/JFZ-Sindelfingen
Due: none

Create test.mdx
  src/assets/images/partnersJFZ-Sindelfingen/test.mdx
Due: formatting

Rename test.mdx to JFZ-Sindelfingentest.mdx
  src/assets/images/partners/JFZ-Sindelfingentest.mdx
Due: formatting

Rename src/assets/images/partners/JFZ-Sindelfingentest.mdx to src/assets/images/partners/JFZ-Sindelfingen/test.mdx
  src/assets/images/partners/JFZ-Sindelfingen/test.mdx
Due: formatting

Add files via upload
  src/assets/images/partners/JFZ-Sindelfingen/JFZ.png
Due: none

Delete src/assets/images/partners/JFZ-Sindelfingen/test.mdx
  src/assets/images/partners/JFZ-Sindelfingen/test.mdx
Due: formatting

fix: unoptimize images
  next.config.mjs
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

fix: esmodule
  next.config.js
  src/app/de/(pages)/about/page.mdx
  src/app/en/(pages)/about/page.mdx
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

fix: image
  src/app/de/(pages)/about/page.mdx
  src/app/en/(pages)/about/page.mdx
  src/components/pages/about/people.tsx
Due: formatting, lintjavascript

Create 49-QandAct.mdx
  content/news/49-QandAct.mdx
Due: formatting

Create 49-QandAct-en.mdx
  content/news/49-QandAct-en.mdx
Due: formatting
